<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Poison Ivy Reports Map</title>

		<link rel="stylesheet" href="/css/mapStyles.css">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
		<!-- <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css"> -->
 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>

	</head>
	<body >
	<div>
		<div id="map" style="width: 100%; height: 100%; position: absolute;">
         	<div id="map-canvas"></div>
     	</div>

 		<div id="info-container" >
			<div id="inner-container">
				<div id="report-block" class="inner-block">
					<ul>
						<li id="report-id">ID: 1</li>
						<li id="report-plant-type">Plant Type: Creeping</li>
						<li id="report-latitude">Latitude: 10</li>
						<li id="report-longitude">Longitude: 20</li>
					</ul>
				</div>
				<div id="user-block" class="inner-block">
					<ul>
						<li id="user-screenname">User Screename: Joe Dirt</li>
						<li id="user-email">User email: joe@dirt.com</li>
					</ul>
				</div>
				<div id="pictures-block" class="inner-block">
					<p>No images.</p>
				</div>

			</div>
		</div>
     </div>
    		<script>
		      function initMap() {
		        // Create a map object and specify the DOM element for display.
		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: {lat: 37.393134, lng: -80.053579},
		          zoom: 8
		        });
		        //Get all of the reports here
		        var numReports;
		        var xhttp = new XMLHttpRequest();
		        xhttp.onload = function() {
				    if (this.status == 200) {
				    	var responseText = $.parseJSON(this.responseText);
				    	var numReports = responseText[0]['COUNT(*)'];

				    	console.log(numReports)
				    	// add a marker for each report

				    	var responseText2;
				    	var xhttp2 = new XMLHttpRequest();
				    	xhttp2.onload = function () {
				    		responseText2 = $.parseJSON(this.responseText);
				    		console.log(responseText2);




				    		for (i = 0; i < numReports; i++)
						  	{
						  		console.log(responseText2[i].latitude)


				  				var marker = new google.maps.Marker({
								    position: {lat: responseText2[i].longitude, lng: responseText2[i].latitude},
							  	});

						        marker.setMap(map);

						        marker.addListener('click', function () {
						        	//change map view
						        	map.panTo(marker.getPosition());
						        	map.setZoom(15);
						        	//update data in the view
						        	$("#report-id").text("ID: " + responseText2[i].reportID);
						        	$("#report-plant-type").text("Plant Type: " + responseText2[i].plant_type);
						        	$("#report-latitude").text("Latitude: " + responseText2[i].latitude);
						        	$("#report-longitude").text("Longitude: " + responseText2[i].longitude);
				        		});

					  		}	








				    	}
				    	xhttp2.open('GET', '/reports');
					  	xhttp2.send();

					  	

				    }
			  	};
			  	xhttp.open('GET', '/reportscount');
			  	xhttp.send();

	      	}

    		</script>
    		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYS7DlNGn1NrrahLXwJfvx-WTX387a6sE&callback=initMap"
    		async defer></script>




    		
		
	</body>




</html>